@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li{
      @apply p-4
  }
  /* button{
      @apply text-white border hover:bg-transparent hover:text-indigo-600 rounded-md;
      background-color: #242424; 
      border-color: #242424; 
  }

  button:hover {
    color: black;
  } */

  ul {
    padding: 0;
    list-style-type: none; }

    
    .line-break {
      white-space: pre-wrap;
      }

}

.dropDownBlog{
  position: absolute;
  top: 17rem;
  right: 0rem;
  width: 110px;
  /* padding: 5px; */
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
}

.dropDownBlog::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
